SMEWebsite/Service References/ServiceReference1/CustomerRegistration1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://49.50.95.141:8056/Customer/CustomerRegistration.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" />
  <xs:element name="CompanyInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjCompany" nillable="true" type="q1:CompanyDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="CompanyInsertResult" nillable="true" type="q2:ArrayOfGetCompanyDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="objCustomer" nillable="true" type="q3:CustomerDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CustomerInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="CustomerInsertResult" nillable="true" type="q4:ArrayOfGetCustomerDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineDetailsInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjMachine" nillable="true" type="q5:MachineDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MachineDetailsInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="MachineDetailsInsertResult" nillable="true" type="q6:ArrayOfGetMachineDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankDetailsInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjBank" nillable="true" type="q7:BankDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BankDetailsInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="BankDetailsInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacilitiesTypesInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjFacilities" nillable="true" type="q8:FacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FacilitiesTypesInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="FacilitiesTypesInsertResult" nillable="true" type="q9:ArrayOfGetFacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProposeTypesInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjFacilities" nillable="true" type="q10:FacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProposeTypesInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ProposeTypesInsertResult" nillable="true" type="q11:ArrayOfGetFacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjAssociate" nillable="true" type="q12:AssociateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AssociateInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="AssociateInsertResult" nillable="true" type="q13:ArrayOfGetAssociateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollateralsSummaryInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjCollaterals" nillable="true" type="q14:CollateralsSummaryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CollateralsSummaryInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="CollateralsSummaryInsertResult" nillable="true" type="q15:ArrayOfGetCollateralsSummaryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformanceEstimatesInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjPerformance" nillable="true" type="q16:PerformanceEstimateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PerformanceEstimatesInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="PerformanceEstimatesInsertResult" nillable="true" type="q17:ArrayOfGetPerformanceEstimatesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentDetailsInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjDocument" nillable="true" type="q18:DocumentDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DocumentDetailsInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DocumentDetailsInsertResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoreInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjScore" nillable="true" type="q19:ScoreBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ScoreInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ScoreInsertResult" nillable="true" type="q20:ArrayOfGetScoreBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjDocument" nillable="true" type="q21:DocumentDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetDocumentDetailsResult" nillable="true" type="q22:ArrayOfDocumentDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="CompanyId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetCompanyDetailsResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StateID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetCityDetailsResult" nillable="true" type="q23:ArrayOfCityDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStateDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetStateDetailsResult" nillable="true" type="q24:ArrayOfStateDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Test">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjCity" nillable="true" type="q25:CityDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjLogin" nillable="true" type="q26:LoginBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompany">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetAllCompanyResult" nillable="true" type="q27:ArrayOfCommonBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetCustomerDetailsResult" nillable="true" type="q28:ArrayOfCommonBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyInsert">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllCompanyInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetAllCompanyInsertResult" nillable="true" type="q29:ArrayOfGetCompanyDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompanyDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjSearch" nillable="true" type="q30:SearchCompanyBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SearchCompanyDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="SearchCompanyDetailsResult" nillable="true" type="q31:ArrayOfGetCompanyDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjRegistration" nillable="true" type="q32:UserRegistrationBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserRegistrationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="UserRegistrationResult" nillable="true" type="q33:ArrayOfGetUserRegistrationBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjRegistration" nillable="true" type="q34:UserRegistrationBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetAllUserResult" nillable="true" type="q35:ArrayOfGetUserRegistrationBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatutoryInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjStatutory" nillable="true" type="q36:StatutoryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StatutoryInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="StatutoryInsertResult" nillable="true" type="q37:ArrayOfGetStatutoryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMEMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="obj" nillable="true" type="q38:MenuMappingBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSMEMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetSMEMappingResult" nillable="true" type="q39:ArrayOfMenuMappingBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmeMenuMasterInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjSmeMenuMaster" nillable="true" type="q40:MenuMasterBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SmeMenuMasterInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="SmeMenuMasterInsertResult" nillable="true" type="q41:ArrayOfMenuMasterBo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="parent" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDocumentsListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDocumentsListResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMenuListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetMenuListResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Checkfileexist">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="objDoc" nillable="true" type="q42:DocumentDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckfileexistResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CheckfileexistResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotorsDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="objCustomer" nillable="true" type="q43:CustomerDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPromotorsDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetPromotorsDetailsResult" nillable="true" type="q44:ArrayOfGetCustomerDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilitiesTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjFacilities" nillable="true" type="q45:FacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFacilitiesTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetFacilitiesTypesResult" nillable="true" type="q46:ArrayOfGetFacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposeTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjFacilities" nillable="true" type="q47:FacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetProposeTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetProposeTypesResult" nillable="true" type="q48:ArrayOfGetFacilitiesTypesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjMachine" nillable="true" type="q49:MachineDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMachineDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetMachineDetailsResult" nillable="true" type="q50:ArrayOfGetMachineDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjAssociate" nillable="true" type="q51:AssociateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAssociateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetAssociateResult" nillable="true" type="q52:ArrayOfGetAssociateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralsSummary">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjCollaterals" nillable="true" type="q53:CollateralsSummaryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCollateralsSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetCollateralsSummaryResult" nillable="true" type="q54:ArrayOfGetCollateralsSummaryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEstimates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjPerformance" nillable="true" type="q55:PerformanceEstimateBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPerformanceEstimatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetPerformanceEstimatesResult" nillable="true" type="q56:ArrayOfGetPerformanceEstimatesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScore">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjScore" nillable="true" type="q57:ScoreBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScoreResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetScoreResult" nillable="true" type="q58:ArrayOfGetScoreBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatutoryDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="ObjStatutory" nillable="true" type="q59:StatutoryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStatutoryDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetStatutoryDetailsResult" nillable="true" type="q60:ArrayOfGetStatutoryBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserMasterInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="obj" nillable="true" type="q61:UsermasterBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserMasterInsertResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="UserMasterInsertResult" nillable="true" type="q62:ArrayOfUsermasterBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMaster">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="obj" nillable="true" type="q63:UsermasterBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserMasterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetUserMasterResult" nillable="true" type="q64:ArrayOfUsermasterBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstitution">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetConstitutionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="GetConstitutionResult" nillable="true" type="q65:ArrayOfConstitutionBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyIncome">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyIncomeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompanyIncomeResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyLiabilities">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertCompanyLiabilitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="InsertCompanyLiabilitiesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyIncomeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="objprofitdtls" nillable="true" type="q66:GetProfitDetailsBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyIncomeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyIncomeDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyEquitiesAndLiabilitiesDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/BussinessLogicLayer" minOccurs="0" name="objequilib" nillable="true" type="q67:GetEquitiesLiabilitiesBO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CompanyEquitiesAndLiabilitiesDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CompanyEquitiesAndLiabilitiesDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="dt" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoanDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoanDetailsResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>